{% extends 'base.html.twig' %}
{% block jumbotron %}
<!-- jumbotrone start -->
<div class="jumbotron jumbotron-fluid" style="background:url('https://images.unsplash.com/photo-1465060810938-30bbe7c40e76?ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=60');
 background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; ">
  <div class="container">
    <h1 class="display-4 text-light">Company Title</h1>
    <h2 class="lead text-light">Title Creation Page</h2>
    <a class="btn btn-secondary btn-lg" href="/" role="button">Home</a>
  </div>
</div>
<!-- jumbotrone ends -->
{% endblock %}
{% block body %}
<h2 class="page-header">Edit Event</h2>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
{% endblock %}